<library path="src">
  <class name="RqtBtLivePlugin" type="rqt_bt_live.rqt_bt_live.RqtBtLivePlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      Tool to view behavior trees at runtime
    </description>
    <qtgui>
      <group>
        <label>Introspection</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to introspection.</statustip>
      </group>
      <label>BT Live</label>
      <icon type="theme">preferences-system-network</icon>
      <statustip>...</statustip>
    </qtgui>
  </class>
</library>